@import '../../../../styles/variables';

.notification-btn {
  border: none;
  background: none;
}

.notification-container {
  background: $white;
  border-radius: 16px;
  opacity: 1 !important;

  .tooltip-arrow {
    display: none !important;
  }
  .tooltip-inner {
    color: black;
    background: $white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 0;
    max-width: 550px;
    border-radius: 10px;
    height: auto;
  }
  .notification-layout {
    display: grid;
    gap: 30px;
    padding: 20px;
  }
  .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: $black;
      font-size: 20px;
    }

    .sub-title {
      color: $blue;
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .notification-container {
    .tooltip-inner {
      max-width: 350px;
      height: auto;
    }
    .notification-layout {
      gap: 20px;
    }
    .notification-header {
      .title, .sub-title {
        font-size: 13px;
      }
    }
  }
}
