@import 'src/styles/variables';

.generic-modal {
  .modal-content {
    padding: 0;
  }
  .modal-header {
    .modal-title {
      color: $dark;
      font-size: 18px;
    }
    .btn-close {
      &:hover {
        color: unset;
        opacity: unset;
      }
      &:focus {
        box-shadow: unset;
      }
    }
  }
}
