@import "../../../styles/variables";

.show,
.hide {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    height: 100px;
    background: $white;
    border-bottom: 1px solid #e5e5e5;
    .header-logo {
      width: 300px;
      height: 100%;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #e5e5e5;
      transition: all 0.25s linear;
      .ks-collapsed-logo {
        display: none;
      }
      img {
        width: 180px;
        height: auto;
      }
    }
    .header-content-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      margin-left: auto;
      margin-right: 20px;
      .notification-icon {
        width: 54px;
      }
      .apps-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e5e5e5;
        height: 100px;
        padding: 0 1rem;
        transition: all 0.25s ease-in-out;
      }
      .hdr-connect-wallet-btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $blue;
        border: 1px solid #e5e5e5;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        .wallet-icn {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #e5e5e5;
          border-radius: 50%;
        }
        p {
          font-weight: 600;
        }
      }
      .apps-section {
        .dropdown-toggle {
          padding: 0;
          border: none;
        }
        .dropdown-toggle.show .apps-btn {
          background-color: rgba(104, 95, 211, 0.1) !important;
          border-bottom: 4px solid #685fd3;
        }
        .dropdown-menu {
          padding: 2rem;
          width: 95vw;
          max-width: 450px;
          border: none;
          border-top: 4px solid #685fd3;
          inset: 4px 0px auto auto !important;
          box-shadow: -5px 0px 30px 0px rgba(0, 0, 0, 0.05);
          .app-heading {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 2rem;
          }
          .kalp-apps-ctr {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
            .app {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 0.5rem;
              img {
                width: 50px;
              }
              p {
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
  .hide {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .show {
    padding-bottom: 10px;
    .header {
      padding: 20px 20px 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-logo {
        display: block;

        .logo {
          width: 110px;
        }
      }
      .header-content-wrapper {
        gap: 10px;

        .notification-icon {
          width: 42px;
        }
        .query-icon {
          width: 24px;
        }
      }
    }
  }
  .hide {
    display: none;
  }
}

.ks_hdr_cls_btn {
  background: transparent;
  border: 1px solid #e5e5e5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.25s ease;
  &:hover {
    background-color: #e5e5e5;
  }
}
